<div id="games">
    <div class="menu">
        <button class="button">start</button>
        <input class="point"></input>
        <img src="./img/pngwing.png" alt="bonus">
    </div>
    <div class="pole">
        <div class="treck">
            <img class="pngwing" src="./img/pngwing.png" >
            <img class="automotive" src="./img/automotive.png" >
            <img class="convertible" src="./img/convertible.png"  >
            <img class="delahaye" src="./img/delahaye.png"  >
            <img class="mini-cooper" src="./img/mini-cooper.png"  >
            <img class="police" src="./img/police.png"  >
            <img class="sports" src="./img/sports.png" >
            <img class="bus" src="./img/bus.png"  >
            <img class="car" src="/Pngtree.png" width="54" height="100" >		
            <svg class="trecksvg" width=350 height=550 xmlns='http://www.w3.org/2000/svg'>
                <rect x=0 y=0 width=350 height=550 fill=dimgray />
                <line class="line1" x1=172 y1=0 x2=172 y2=550 stroke=yellow style="stroke-width:2"/>
                <line x1=176 y1=0 x2=176 y2=550 stroke=yellow style="stroke-width:2"/>
                <polyline class="polyline1" points='87,0 87,550 ' stroke=white
                fill=none stroke-dasharray='40,30' stroke-dashoffset=20 />
                <polyline class="polyline2" points='260,-100 260,1550 ' stroke=white
                fill=none stroke-dasharray='40,30' stroke-dashoffset=20 />
            </svg>
        </div>
    </div>
</div>